@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
        margin:0;
        padding:0;
        box-sizing:border-box;
        
    }

   

    body{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    background:#ffffff; /* light blue background */
        font-size: 13px;
}

h1, h2, h3{
    font-weight:600;
}

p{
    font-weight:400;
}

    /* Header */
    .header{
    position:relative;
    height:80px;
    background: #fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
}

.menu-icon, .cart-icon {
    font-size: 32px;
    color: #555;
    line-height: 1;
}

/* Perfect Center Logo */
.logo{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.logo img{
    height:55px;
}

    

    
/* Right Icons Container */
.right-icons{
    display:flex;
    align-items:center;
    gap: 7px;
    font-size: 25px;
}

/* Cart Icon */
.cart-icon{
    position:relative;
    cursor:pointer;
}

/* Cart Badge */
.cart-count{
    position:absolute;
    top: -2px;
    right: -2px;
    background:#ff7a00;
    color:#fff;
    font-size:10px;
    border-radius:50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* Content Area */
    .content {
    height: calc(100vh - 145px);
    background: #f2f2f2;
    border-radius: 30px 30px 0 0;
    padding: 15px;
    overflow-y: auto;
}

/* Search Section */
.search-section{
    margin: 0 0 15px;
}

.search-box{
    width:100%;
    background:#fff;
    border-radius:30px;
    padding:12px 20px;
    display:flex;
    align-items:center;
    gap:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.05);
}

.search-box i{
    font-size:20px;
    color:#999;
}

.search-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
}

/* Category Section */
.categories{
    
display: grid;
    
grid-template-columns: repeat(4, 25%);
    
grid-gap: 2px;
}

.category-card{
    text-align:center;
    margin-bottom: 15px;
}

.category-card img{
    width: 70px;
    height: 60px;
    object-fit:contain;
    background: #fff;
    border-radius:20px;
    padding: 9px;
}

.category-card p{
    margin-top:10px;
    font-weight: 400;
}

/* Hero Banner */
.hero-banner{
    margin: 0 0 15px;
}

.hero-text{
    max-width:50%;
}

.hero-text h2{
    font-size:24px;
    margin-bottom:10px;
}

.hero-text p{
    font-size:14px;
    margin-bottom:15px;
}

.hero-text button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#fff;
    color:#ff7a00;
    font-weight:bold;
    cursor:pointer;
}

.hero-image img{
    width: 100%;
}

/* Bottom Navigation */
.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:65px;
    background:#ffffff;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-top:1px solid #ddd;
    box-shadow:0 -2px 10px rgba(0,0,0,0.05);
}

.nav-item {
    text-align: center;
    font-size: 12px;
    color: #555;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.nav-item .icon{
    font-size:20px;
    display:block;
    margin-bottom:4px;
}

.nav-item.active{
    color:#ff7a00;
    font-weight:600;
}

/* Overlay */
.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    opacity:0;
    visibility:hidden;
    transition:0.3s;
    z-index: 9;
}

/* Side Menu */
.side-menu{
    position:fixed;
    top:0;
    left:-260px;
    width:260px;
    height:100%;
    background:#fff;
    box-shadow:2px 0 10px rgba(0,0,0,0.1);
    transition:0.3s ease;
    z-index:1000;
}

/* Active State */
.side-menu.active{
    left:0;
}

.overlay.active{
    opacity:1;
    visibility:visible;
}

/* Menu Header */
.menu-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    font-weight:600;
    border-bottom:1px solid #eee;
}

.menu-header i{
    font-size:24px;
    cursor:pointer;
}

/* Menu Items */
.side-menu ul{
    list-style:none;
    padding:20px;
}

.side-menu ul li a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:12px 0;
    font-size:15px;
    cursor:pointer;
    color:#333;
    text-decoration: none;
}

.side-menu ul li a i{
    font-size:20px;
    color:#ff7a00;
}

.side-menu ul li:hover{
    color:#ff7a00;
}

.login-container{
    width:100%;
}

.login-card{
    background:#fff;
    padding:30px 25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    text-align:center;
}

.login-logo{
    width:90px;
    margin-bottom:15px;
}

h2{
    font-weight:600;
    margin-bottom:15px;
}

.subtitle{
    font-size:13px;
    color:#777;
    margin-bottom:25px;
}

.input-box{
    background:#f5f5f5;
    border-radius:12px;
    padding:12px 15px;
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
}

.input-box i{
    font-size:20px;
    color:#ff7a00;
}

.input-box input{
    border:none;
    background:transparent;
    width:100%;
    outline:none;
    font-size:14px;
}

.primary-btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    background:#ff7a00;
    color:#fff;
    font-weight:500;
    cursor:pointer;
    margin-bottom:20px;
    transition:0.3s;
}

.primary-btn:hover{
    background:#e86c00;
}

.otp-section{
    margin-top:10px;
}

.otp-inputs{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
}

.otp-inputs input{
    width:50px;
    height:50px;
    text-align:center;
    font-size:18px;
    border-radius:10px;
    border:1px solid #ddd;
    outline:none;
}

.verify{
    margin-top:10px;
}

img{
    max-width: 100%;
}

.error-text{
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

.success-text{
  color: green;
  font-size: 13px;
  margin-bottom: 10px;
}

.cart-page{
  
  padding-bottom:90px;
}

.cart-title{
  margin-bottom:15px;
}

.cart-item{
  display:flex;
  align-items:center;
  gap:15px;
  background:#fff;
  padding:15px;
  border-radius:15px;
  margin-bottom:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.cart-item img{
  width:70px;
  height:70px;
  object-fit:cover;
  border-radius:10px;
}

.cart-details{
  flex:1;
}

.qty-controls{
  display:flex;
  align-items:center;
  gap:10px;
  margin-top:8px;
}

.qty-controls button{
  width:28px;
  height:28px;
  border:none;
  border-radius:6px;
  background:#ff7a00;
  color:#fff;
  cursor:pointer;
}

.remove-icon{
  font-size:22px;
  color:red;
  cursor:pointer;
}

.cart-summary{
  position:fixed;
  bottom:65px;
  left:0;
  width:100%;
  background:#fff;
  padding:15px 20px;
  box-shadow:0 -2px 10px rgba(0,0,0,0.05);
}

.checkout-btn {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: #ff7a00;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

.empty-cart{
  text-align:center;
  margin-top:40px;
  color:#777;
}

.global-loader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.7);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.spinner{
  width:50px;
  height:50px;
  border:5px solid #eee;
  border-top:5px solid #ff7a00;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  100%{
    transform:rotate(360deg);
  }
}

/* Overlay Fade Animation */
.popup-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;

  animation:fadeIn 0.3s ease-in-out;
}

/* Popup Animation */
.popup-box{
  background:#fff;
  padding:25px;
  border-radius:15px;
  text-align:center;
  width:300px;

  animation:popupScale 0.35s cubic-bezier(.68,-0.55,.27,1.55);
}

/* Icons */
.success-icon{
  font-size:50px;
  color:green;
}

.error-icon{
  font-size:50px;
  color:red;
}

/* Keyframes */

@keyframes fadeIn{
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes popupScale{
  0% {
    transform:scale(0.5);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

.popup-box button{
  margin-top:15px;
  padding:8px 20px;
  background:#ff7a00;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

/* Resend */
.resend-section{
  margin-top:15px;
}

.resend-btn{
  background:none;
  border:none;
  color:#ff7a00;
  font-weight:600;
  cursor:pointer;
}

.checkout-page{
  
  padding-bottom:120px;
}

.section-title{
  margin-bottom:15px;
}

.checkout-card{
  background:#fff;
  padding:18px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.card-header{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:12px;
}

.card-header i{
  font-size:20px;
  color:#ff7a00;
}

.summary-item{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
}

.price-row{
  display:flex;
  justify-content:space-between;
  margin-top:8px;
  font-size:14px;
}

.price-total{
  display:flex;
  justify-content:space-between;
  margin-top:12px;
  font-weight:600;
  font-size:16px;
}

.edit-btn{
  margin-top:10px;
  padding:6px 12px;
  border:none;
  background:#ff7a00;
  color:#fff;
  border-radius:6px;
  cursor:pointer;
}

.payment-option{
  margin-bottom:10px;
}

.place-order-bar{
  position:fixed;
  bottom:65px;
  width:100%;
  background:#fff;
  padding:15px 20px;
  box-shadow:0 -2px 10px rgba(0,0,0,0.05);
}

.place-order-btn{
  width:100%;
  padding:14px;
  background:#ff7a00;
  color:#fff;
  border:none;
  border-radius:12px;
  font-weight:600;
  cursor:pointer;
}

/* ===== HEADER ===== */

.internal-header {
    position: sticky;
    top: 0;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 15px;
    z-index: 1000;
}

.back-btn{
  background:none;
  border:none;
  font-size:22px;
  color:#ff7a00;
  cursor:pointer;
}

/* Title */

.header-title{
  flex:1;
  text-align:center;
  font-size:16px;
  font-weight:600;
  transition:0.3s ease;
}

.hide-title{
  opacity:0;
  transform:translateX(-10px);
}

/* ===== HEADER ACTIONS ===== */

.header-actions{
  display:flex;
  align-items:center;
  gap:10px;
}

/* ===== SEARCH WRAPPER ===== */

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #f5f5f5;
    transition: 0.4s ease;
    overflow: hidden;
    justify-content: center;
}

/* Expand width */
.search-wrapper.active{
  width:200px;
  padding:0 10px;
}

/* Search Icon */
.search-icon{
  font-size:20px;
  color:#ff7a00;
  cursor:pointer;
  
}

/* Input */
.search-wrapper input{
  border:none;
  outline:none;
  background:transparent;
  width:0;
  opacity:0;
  font-size:13px;
  transition:0.3s ease;
}

/* When active */
.search-wrapper.active input{
  width:100%;
  opacity:1;
  margin-left:8px;
}

/* Close Icon */
.close-icon{
  font-size:20px;
  color:#ff7a00;
  cursor:pointer;
  margin-left:5px;
}


.account-page{
  
  padding-bottom:100px;
}

.account-card{
  background:#fff;
  border-radius:15px;
  padding:15px;
  margin-bottom:20px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.profile-card{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.profile-left{
  display:flex;
  gap:15px;
  align-items:center;
}

.profile-avatar{
  width:60px;
  height:60px;
  background:#ff7a00;
  color:#fff;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30px;
}

.edit-profile-btn {
    padding: 6px 14px;
    border: none;
    background: #ff7a00;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.account-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    text-decoration: none;
    color: #2e2e2e;
}

.account-item:last-child{
  border-bottom:none;
}

.account-item i:first-child{
  color:#ff7a00;
  font-size:20px;
  margin-right:10px;
}

.account-item span{
  flex:1;
  margin-left:10px;
}

.account-item.logout{
  color:red;
}

.orders-page{
  
  padding-bottom:100px;
}

.order-card{
  background:#fff;
  padding:15px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.order-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
}

.order-header h4{
  margin:0;
}

.order-header p{
  font-size:12px;
  color:#777;
  margin:0;
}

.order-items{
  font-size:14px;
  margin-bottom:12px;
  color:#444;
}

.order-footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.view-btn{
  padding:6px 14px;
  background:#ff7a00;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.status-badge{
  padding:5px 10px;
  border-radius:20px;
  font-size:12px;
  font-weight:500;
}

.status-badge.delivered{
  background:#e6f7ec;
  color:green;
}

.status-badge.pending{
  background:#fff3cd;
  color:#b8860b;
}

.status-badge.cancelled{
  background:#fdecea;
  color:red;
}

.empty-orders{
  text-align:center;
  margin-top:60px;
  color:#777;
}

.empty-orders i{
  font-size:60px;
  color:#ddd;
}

.address-page{
  
  padding-bottom:120px;
}

.address-card{
  background:#fff;
  padding:15px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.address-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:8px;
}

.default-badge{
  background:#e6f7ec;
  color:green;
  padding:4px 8px;
  border-radius:15px;
  font-size:12px;
}

.address-card p{
  margin:4px 0;
  font-size:14px;
  color:#444;
}

.address-actions{
  margin-top:10px;
  display:flex;
  gap:10px;
}



.delete-btn {
    background: #fdecea;
    color: red;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.add-address-bar{
  position:fixed;
  bottom:65px;
  width:100%;
  background:#fff;
  padding:15px 20px;
  box-shadow:0 -2px 10px rgba(0,0,0,0.05);
}

.add-address-btn {
    width: 100%;
    padding: 14px;
    background: #ff7a00;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

.empty-address{
  text-align:center;
  margin-top:60px;
  color:#777;
}

.empty-address i{
  font-size:60px;
  color:#ddd;
}


.wishlist-card{
  display:flex;
  gap:15px;
  background:#fff;
  padding:15px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.wishlist-card img{
  width:80px;
  height:80px;
  object-fit:cover;
  border-radius:10px;
}

.wishlist-details{
  flex:1;
}

.wishlist-details h4{
  margin-bottom:5px;
}

.wishlist-details p{
  margin-bottom:10px;
  font-weight:500;
}

.wishlist-actions{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.move-btn{
  padding:6px 12px;
  background:#ff7a00;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.empty-wishlist{
  text-align:center;
  margin-top:60px;
  color:#777;
}

.empty-wishlist i{
  font-size:60px;
  color:#ddd;
}

.help-page{
  
}

.help-card{
  background:#fff;
  padding:15px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.section-heading{
  margin-bottom:15px;
}

.faq-item{
  border-bottom:1px solid #f1f1f1;
  padding:10px 0;
}

.faq-item:last-child{
  border-bottom:none;
}

.faq-question{
  display:flex;
  justify-content:space-between;
  align-items:center;
  cursor:pointer;
  font-weight:500;
}

.faq-answer{
  margin-top:8px;
  font-size:14px;
  color:#555;
}

.contact-item{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
  font-size:14px;
}

.contact-item i{
  color:#ff7a00;
  font-size:18px;
}

.chat-btn{
  margin-top:10px;
  width:100%;
  padding:12px;
  border:none;
  background:#ff7a00;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
  font-weight:500;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:8px;
}


.edit-card{
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.profile-image-section{
  text-align:center;
  margin-bottom:20px;
}

.profile-preview{
  width:100px;
  height:100px;
  border-radius:50%;
  background:#f5f5f5;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0 auto 10px;
  overflow:hidden;
}

.profile-preview img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.profile-preview i{
  font-size:40px;
  color:#ff7a00;
}

.upload-btn{
  color:#ff7a00;
  font-weight:500;
  cursor:pointer;
  font-size:14px;
}

.form-group{
  margin-bottom:15px;
  display:flex;
  flex-direction:column;
}

.form-group label{
  margin-bottom:5px;
  font-size:13px;
}

.form-group input,
.form-group select{
  padding:10px;
  border:1px solid #ddd;
  border-radius:8px;
  outline:none;
  font-size:14px;
}

.add-address-page{
  
}

.address-form-card{
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

textarea{
  padding:10px;
  border:1px solid #ddd;
  border-radius:8px;
  font-size:14px;
  resize:none;
}

.checkbox-group{
  display:flex;
  align-items:center;
  gap:8px;
  margin-bottom:15px;
}

.checkbox-group input{
  width:16px;
  height:16px;
}

.category-link{
  text-decoration:none;
  color:inherit;
}

.category-products-page{
  
}

.products-grid{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:15px;
}

.product-card{
  background:#fff;
  border-radius:15px;
  padding:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
  position:relative;
  text-align:center;
}

.product-card img{
  width:100%;
  height:100px;
  object-fit:contain;
  margin-bottom:10px;
}

.product-card h4{
  font-size:14px;
  margin-bottom:5px;
}

.price{
  font-weight:600;
  margin-bottom:10px;
}

.add-cart-btn{
  width:100%;
  padding:8px;
  background:#ff7a00;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:13px;
}

.wishlist-icon{
  position:absolute;
  top:10px;
  right:10px;
  font-size:20px;
  color:#ff7a00;
  cursor:pointer;
}

.empty-products{
  text-align:center;
  margin-top:60px;
  color:#777;
}

.empty-products i{
  font-size:60px;
  color:#ddd;
}

.login-toggle{
  display:flex;
  margin-bottom:20px;
  background:#f5f5f5;
  border-radius:10px;
  overflow:hidden;
}

.login-toggle button{
  flex:1;
  padding:10px;
  border:none;
  background:transparent;
  cursor:pointer;
  font-weight:500;
}

.login-toggle button.active{
  background:#ff7a00;
  color:#fff;
}

.product-detail-page{
 
  padding-bottom:130px;
}

.product-image-section{
  position:relative;
  background:#fff;
  border-radius:20px;
  padding:20px;
  text-align:center;
  margin-bottom:20px;
}

.product-image-section img{
  width:100%;
  max-height:250px;
  object-fit:contain;
}

.wishlist-toggle{
  position:absolute;
  top:15px;
  right:15px;
  font-size:26px;
  color:#ff7a00;
  cursor:pointer;
}

.product-info-card{
  background:#fff;
  padding:20px;
  border-radius:20px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.product-price{
  font-size:20px;
  font-weight:600;
  margin:10px 0;
}

.product-description{
  font-size:14px;
  color:#555;
  margin-bottom:15px;
}

.detail-qty{
  justify-content:flex-start;
}

.product-action-bar{
  position:fixed;
  bottom:65px;
  width:100%;
  display:flex;
  gap:10px;
  padding:15px;
  background:#fff;
  box-shadow:0 -2px 10px rgba(0,0,0,0.05);
}

.add-cart-btn{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#ff7a00;
  color:#fff;
  cursor:pointer;
}

.buy-now-btn{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#000;
  color:#fff;
  cursor:pointer;
}

.filter-sort-bar{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

.filter-sort-bar select{
  flex:1;
  padding:8px;
  border-radius:8px;
  border:1px solid #ddd;
  background:#fff;
  font-size:13px;
}



.categories-grid-new{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.category-box{
  display:flex;
  align-items:center;
  gap:15px;
  background:#fff;
  padding:15px;
  border-radius:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
  cursor:pointer;
  transition:0.3s;
}

.category-box:hover{
  transform:translateY(-2px);
}

.category-box img{
  width:60px;
  height:60px;
  object-fit:contain;
  background:#f9f9f9;
  border-radius:12px;
  padding:8px;
}

.category-info{
  flex:1;
}

.category-info h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.category-info p{
  margin:3px 0 0;
  font-size:12px;
  color:#777;
}

.category-box i{
  font-size:20px;
  color:#999;
}

.privacy-page{
  padding:15px;
  padding-bottom:100px;
}

.privacy-card{
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.privacy-card h2{
  margin-bottom:10px;
}

.privacy-card h3{
  margin-top:15px;
  font-size:14px;
  font-weight:600;
}

.privacy-card p{
  font-size:13px;
  color:#555;
  line-height:1.6;
}

.last-updated{
  margin-top:20px;
  font-size:12px;
  color:#999;
}

.policy-page{
  padding:15px;
  padding-bottom:100px;
}

.policy-card{
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.policy-card h2{
  margin-bottom:10px;
}

.policy-card h3{
  margin-top:15px;
  font-size:14px;
  font-weight:600;
}

.policy-card p{
  font-size:13px;
  color:#555;
  line-height:1.6;
}

.policy-card ul{
  padding-left:20px;
  font-size:13px;
  color:#555;
}

.last-updated{
  margin-top:20px;
  font-size:12px;
  color:#999;
}

.contact-page{
  padding:15px;
  padding-bottom:100px;
}

.contact-card{
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.contact-card h2{
  margin-bottom:5px;
}

.contact-subtitle{
  font-size:13px;
  color:#777;
  margin-bottom:20px;
}

.contact-info{
  margin-bottom:20px;
}

.info-item{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
  font-size:13px;
}

.info-item i{
  font-size:18px;
  color:#ff7a00;
}

.contact-form{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.contact-form input,
.contact-form textarea{
  padding:10px;
  border-radius:8px;
  border:1px solid #ddd;
  font-size:13px;
  outline:none;
}

.contact-form textarea{
  resize:none;
}

.vegetable-page .product-card{
  border:1px solid #e8f5e9;
}

.vegetable-page .price{
  color:#2e7d32;
  font-weight:600;
}